adminUser: ${grafana_username}
adminPassword: ${grafana_secret}

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
    - name: 'default'
      orgId: 1
      folder: ''
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards/default

dashboardsConfigMaps:
  default: "${project_name}-grafana-dashboards"

persistence:
  enabled: true
  storageClassName: ${storage_classname}
  size: ${grafana_disk_size}

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: prometheus
      type: prometheus
      url: ${prometheus_url}
      access: proxy
      isDefault: true

grafana.ini:
  server:
    # domain: grafana_domain
    root_url: "%(protocol)s://%(domain)s/${grafana_subpath}"
    serve_from_sub_path: true

resources:
  requests:
    memory: 64Mi
    cpu: 50m
  limits:
    memory: 256Mi
    cpu: 200m

service:
  enabled: true
  type: NodePort
  protocol: TCP

ingress:
  enabled: true
  ingressClassName: "azure-application-gateway"
  annotations:
    appgw.ingress.kubernetes.io/use-private-ip: "false"
    appgw.ingress.kubernetes.io/ssl-redirect: "true"
    appgw.ingress.kubernetes.io/appgw-ssl-certificate: "grafana-certs"
    appgw.ingress.kubernetes.io/backend-protocol: "http"
    appgw.ingress.kubernetes.io/request-timeout: "300"
    appgw.ingress.kubernetes.io/health-probe-path: "/api/health"
    appgw.ingress.kubernetes.io/health-probe-status-codes: "200"
    appgw.ingress.kubernetes.io/health-probe-interval: "15"
    appgw.ingress.kubernetes.io/health-probe-timeout: "5"
    appgw.ingress.kubernetes.io/health-probe-unhealthy-threshold: "2"
  path: /${grafana_subpath}
  pathType: Prefix
  hosts:
    - ${grafana_domain}